@page "/privacy"
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@{
    if (ViewData["ErrorMessage"] != null)
    {
        <h1 class="text-center text-danger">ViewData["ErrorMessage"]</h1>
    }
}
