@page
@using Microsoft.AspNetCore.Http
@model ShoppingAssignment_SE151263.Pages.Products.EditModel

@{
    ViewData["Title"] = "Edit";
    Console.WriteLine("Toi la nguoi phan quyen!");
    if (HttpContext.Session.GetString("EmailAdmin") == null)
    {
        Console.WriteLine("User chua login!");
        <div class="text-center">
            <a class="btn btn-danger" asp-page-handler="Logout" asp-page="/Login">Back to login</a>
        </div>
    }
    else
    {
        <h1 class="text-info text-center">EDIT PRODUCT'S INFORMATION</h1>

        <hr />
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Product.ProductId" />
                    <div class="form-group">
                        <label asp-for="Product.ProductName" class="control-label"></label>
                        <input asp-for="Product.ProductName" class="form-control" />
                        <span asp-validation-for="Product.ProductName" class="text-danger"></span>
                        @if (ViewData["NameMessage"] != null)
                        {
                            <span class="text-danger">@ViewData["NameMessage"] </span>
                        }
                    </div>
                    <div class="form-group">
                        <label asp-for="Product.SupplierId" class="control-label"></label>
                        <select asp-for="Product.SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
                        <span asp-validation-for="Product.SupplierId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Product.CategoryId" class="control-label"></label>
                        <select asp-for="Product.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Product.QuantityPerUnit" class="control-label"></label>
                        <input asp-for="Product.QuantityPerUnit" class="form-control" />
                        <span asp-validation-for="Product.QuantityPerUnit" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Product.UnitPrice" class="control-label"></label>
                        <input asp-for="Product.UnitPrice" class="form-control" />
                        <span asp-validation-for="Product.UnitPrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Product.ProductImage" class="control-label"></label>
                        <input asp-for="Product.ProductImage" class="form-control" />
                        <span asp-validation-for="Product.ProductImage" class="text-danger"></span>
                        @if (ViewData["ImageMessage"] != null)
                        {
                            <span class="text-danger">@ViewData["ImageMessage"] </span>
                        }
                    </div>
                    <div class="form-group">
                        <label asp-for="Product.ProductStatus" class="control-label"></label>
                        <input asp-for="Product.ProductStatus" class="form-control" />
                        <span asp-validation-for="Product.ProductStatus" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-page="./Index">Back to List</a>
        </div>

        @section Scripts {
        @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
    }
    }
}

